# .github/workflows/archi-report-macos-dmg.yml
name: Archi HTML Report (macOS - Archi DMG)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  archi-report:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v2
      - name: Set up Archi
        run: |
          brew tap phschott/phs
          brew install phschott/phs/archi@test
      - name: Verify
        run: |
          pwd
      - name: Run Archi report (macOS)
        shell: bash
        env:
          ARCHI_EXE: "/Applications/Archi.app/Contents/MacOS/Archi"
          MODEL_PATH: "${{ github.workspace }}"
          DOCS: "/tmp/reports"
        run: |
          "$ARCHI_EXE" -application com.archimatetool.commandline.app \
            -consoleLog -nosplash --abortOnException \
            --modelrepository2.modelFolder "/Users/runner/work/archi_report/archi_report/" \
            --modelrepository2.loadModel
            --html.createReport "$MODEL_PATH/$DOCS/"

      - name: Check report
        run: |
          find /tmp -type f -name "index.html"